.current {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.upsampled {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.imgContainer{
    float: left;
}

p {
    text-align: center;
    font-size: 125%;
}

#images {
    vertical-align: center;
}
