<!DOCTYPE html>
<html>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8"></script>

  <body onload="init();">
    <h1></h1>

    <p>
      <img src="{{ url_for('original_video_feed') }}" width="640" height="360" style="image-rendering: pixelated;">
      <img src="{{ url_for('upsampled_video_feed') }}" width="640" height="360">
      <img id="test" src="static/test.png" width="640" height="360" style="image-rendering: pixelated;">
    </p>
    <p>
      <button onclick="startWebcam();">Start WebCam</button>
      <button onclick="stopWebcam();">Stop WebCam</button> 
    </p>
      <video id="video" controls autoplay></video>
      <canvas id="myCanvas"></canvas>  
  </body>

  <script type="text/javascript">

      //--------------------
      // GET USER MEDIA CODE
      //--------------------
    navigator.getUserMedia = (navigator.getUserMedia || navigator.webkitGetUserMedia ||
      navigator.mozGetUserMedia || navigator.msGetUserMedia);

    var video;
    var webcamStream;

    function startWebcam() {
      if (navigator.getUserMedia) {
         navigator.getUserMedia (

           // constraints
          {
            video: true,
            audio: false
          },

          // successCallback
          function(localMediaStream) {
            video = document.querySelector('video');
            video.src = window.URL.createObjectURL(localMediaStream);
            webcamStream = localMediaStream;
          },

          // errorCallback
          function(err) {
            console.log("The following error occured: " + err);
          }
        );
      } else {
        console.log("getUserMedia not supported");
      }  
      }

      function stopWebcam() {
        webcamStream.getVideoTracks()[0].stop();
      }
      //---------------------
      // TAKE A SNAPSHOT CODE
      //---------------------
      var canvas, ctx;

      function init() {
        // Get the canvas and obtain a context for
        // drawing in it
        canvas = document.getElementById("myCanvas");
        ctx = canvas.getContext('2d');
      }

      namespace = '/';
      // Connect to the Socket.IO server.
      // The connection URL has the following format:
      //     http[s]://<domain>:<port>[/<namespace>]
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      function snapshot() {
      // Draws current image from the video element into the canvas
        ctx.drawImage(video, 0,0, canvas.width, canvas.height);
        var frame = canvas.toDataURL("image/png");
        $.post("/", { frame_data: frame });
        var newImage = document.getElementById("test");
        //newImage.setAttribute("src", "static/test.png");
        newImage.src = 'static/test.png?' + new Date().getTime();
      }

      timer = setInterval(snapshot, 1000);

      // Event handler for new connections.
      // The callback function is invoked when a connection with the
      // server is established.
      socket.on('frame', function(data) {
        socket.emit('frame', frame);
      });   

  </script>

</html>
