<!DOCTYPE html>
<html>

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8"></script>

  <body onload="init();">
    <h1></h1>

    <div id="images" class="overlay">

      <div id="image1" class="imgContainer">
        <img id="current" src="static/current_frame.jpg" height="360" style="image-rendering: pixelated;">
        <p> Original, 120x90</p>
      </div>

      <div id="image3" class="imgContainer">
        <img id="interp" src="static/interp_frame.jpg">
        <p> 4x Bicubic interpolation, 480x360</p>
      </div>

      <div id="image2" class="imgContainer">
        <img id="upsampled" src="static/upsampled_frame.jpg">
        <p> 4x Upsampled with Neural Net, 480x360</p>
      </div>

    </div>

    <div>
      <img id="pipeline" src="static/pipeline.png">
    </div>

  </body>

  <script type="text/javascript">

    function update() {
       var newCurrentImage = document.getElementById("current");
       newCurrentImage.src = 'static/current_frame.jpg?' + new Date().getTime();

       var newUpsampledImage = document.getElementById("upsampled");
       newUpsampledImage.src = 'static/upsampled_frame.jpg?' + new Date().getTime();

       var newUpsampledImage = document.getElementById("interp");
       newUpsampledImage.src = 'static/interp_frame.jpg?' + new Date().getTime();
    }

    updateTimer = setInterval(update, 100);

    // Event handler for new connections.
    // The callback function is invoked when a connection with the
    // server is established.
    socket.on('frame', function(data) {
      socket.emit('frame', frame);
    });   

  </script>

</html>
